@tailwind base;
@tailwind components;
@tailwind utilities;

/* В style.css */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #A259FF; /* серый */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}